.proposal-card{ng-show: 'proposal'}
  %proposal_card_dropdown{proposal: 'proposal'}
  %form{name: 'proposalForm', ng_submit: 'submit()'}
    %h2{ng-if: '!editing'} {{proposal.name}}
    %input.proposal-description-input.form-control{ng-if: 'editing', ng-model: 'proposalCopy.name', placeholder: "{{ 'proposal_form.name_placeholder' | translate }}"}

    .proposal-card-started-by
      %span{translate: 'proposal_card.started_by', translate-values: '::{name: proposal.authorName()}'}
      %span.time-ago>
        {{discussion.createdAt | timeFromNowInWords}}
      ·
      %timeago{timestamp: 'proposal.closingAt' }>
      %span{ng-if: '!editing && canEditProposal()'}>
        ·
        %a{translate: 'common.action.edit', href: '#', ng-click: 'edit()'}
      .badge.pull-right{ng-show: 'proposal.closedAt'} Closed
    .proposal-card-description{ng-if: '!editing', btf-markdown: 'proposal.description' }
    %textarea.proposal-description-input.form-control{ng-if: 'editing', ng-model: 'proposalCopy.description', placeholder: "{{ 'proposal_form.description_placeholder' | translate }}"}

    .thread-discussion-inline-actions{ng-if: 'editing'}
      %button.btn.btn-primary{type: 'submit', translate: 'proposal_form.edit_proposal' }
      %button.btn.btn-warning{type: 'button', ng-click: 'doneEditing()', translate: 'common.action.cancel'}

  .pie-chart.media
    .pie-chart-pie.media-left
      %proposal_pie_chart{proposal: 'proposal'}
    .pie-chart-legend.media-body
      .pie-chart-legend-item{class: 'pie-chart-legend-item-{{position}}', ng-repeat: 'position in proposal.positions'}
        {{ "proposal_position_"+position | translate}} ({{ proposal.voteCounts[position] }})

  %vote_form{proposal: 'proposal'}

  .proposal-card-votes
    %h4 Positions
    .proposal-card-no-votes{ng-show: 'onlyVoterIsYou()', translate: 'proposal_card.only_voter_is_you'}

    .proposal-card-no-votes{ng-show: 'noVotesYet()', translate: 'proposal_card.no_votes_yet'}

    -#.proposal-card-vote.media{ng_repeat: 'vote in curatedVotes()'}
    .proposal-card-vote.media{ng_repeat: 'vote in curatedVotes()'}
      .media-left
        .thread-event-vote-icon{class: 'thread-event-vote-icon-{{vote.position}}'}
      .media-body
        %strong> {{::vote.authorName()}}
        %span.author-statement {{:: vote.statement }}
